body {
    background-image: linear-gradient(black, white);
    background: url("https://img.freepik.com/premium-photo/decorated-easter-eggs-grass_70626-6094.jpg?semt=ais_hybrid&w=740&q=80");
}

h1 {
    font-size: 120px;
    text-align: center;
    background-image: linear-gradient(white, gold);
    color: transparent;
    background-clip: text;
    margin-bottom: 65px;
}

        .back {
        font-size: 40px;
        padding: 10px 30px;

        cursor: pointer;

        background-color: gray;
        border: none;
        border-radius: 15px;
        color: white;
        transition: background-color 0.2s ease, color 0.2s ease;
    }

    .back:hover {
        background-color: white;
        color: gray;
    }

    .back:active {
        transform: scale(0.95);
        background-color: gold;
        color: white;
    }